:root {
    // --color-main: #F61983;
    // --color-second: #B8948F;
    --color-black: #0D0007;
    --color-white: #FFF;

    --color-main: #3f292b;
    --color-second: #a37b73;

    // --color-main: #F61983;
    // --color-second: #191B37;

    // --color-main: #191B37;
    // --color-second: #F61983;

    --font-title: "Alegreya", serif;
	--font-text: "Montserrat", sans-serif;
	--font-numbers: "Cardo", serif;
}