@use '../../../scss/index' as *;

.team {
	background-color: var(--color-main);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	&__title {
		color: var(--color-white);
	}
}

@import '../../../scss/base/media';