@use '../../../scss/index' as *;

.promo {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-main);
	&__descr {
		padding: 24rem 9rem 4rem 8%;
		width: 50%;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		.logo {
			top: 0% !important;
    		right: 0% !important;
			height: 15rem;
			width: 25rem;
			display: flex;
			flex-direction: column;
			position: relative !important;
			.logo__title {
				font-size: 7rem;
			}
			.logo__subtitle {
				font-size: 3rem;
			}
		}
		&-title {
			margin-top: 6.4rem;
			font-size: 4.7rem;
			font-weight: 400;
			font-family: var(--font-title);
			color: var(--color-white);
			text-transform: uppercase;
			line-height: 1.2;
			align-self: flex-start;
		}
		&-subtitle {
			margin-top: 1rem;
			font-size: 2.4rem;
			font-weight: 300;
			color: var(--color-white);
			font-family: var(--font-title);
			line-height: 1.5;
			align-self: flex-end;
		}
		&-buttons {
			margin-top: 6.4rem;
			margin-bottom: 10rem;
			font-size: 1.6rem;
			display: flex;
			flex-wrap: wrap;
			gap: 3rem;
			.promo-btn {
				cursor: pointer;
				font-weight: 500;
				color: var(--color-white);
				padding: 1.6rem 1.4rem;
				font-size: 1.6rem;
				height: 5.3rem;
				min-width: 25rem;
				text-transform: uppercase;
				border-radius: .3rem;
			}
			.button-booking {
				background-color: var(--color-second);
				transition: background-color .5s, color .5s;
				@media (hover: hover) {
					&:hover {
						color: var(--color-main);
						background-color: var(--color-white);
					}
				}
			}
			.button-gift {
				background-color: transparent;
				border: .1rem solid var(--color-white);
				transition: background-color .5s;
				@media (hover: hover) {
					&:hover {
						background-color: #A37B731C;
					}
				}
			}
		}
	}
	&__photo {
		position: relative;
		width: 50%;
		&-img {
			height: 100%;
			max-width: 100%;
			width: 100%;
			aspect-ratio: 1/1;
			object-fit: cover;
			object-position: left center;
		}
	}
}

@import '../../../scss/base/media';