@use '../../scss/index' as *;

.socials {
	margin-top: auto; 
	display: flex;
	gap: 2rem;
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		height: 4.2rem;
		width: 4.2rem;
		&-icon {
			font-size: 3rem;
			color: var(--color-second);
			transition: color .5s;
			@media (hover: hover) {
				&:hover {
					color: var(--color-white);
				}
			}
		}
	}
}

@import '../../scss/base/media';