@use './scss/index' as *;

* {
    font-family: var(--font-text);
    color: var(--color-black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
    // overflow-x: hidden;
    &.no-scroll {
        overflow: hidden;
    }
}

section {
    height: 100%;
    right: unset;
    bottom: unset;
    position: relative;
    z-index: 1;
}

.section {
    padding: 12rem 8%;
}

.title {
    text-align: center;
    padding-bottom: 3.2rem;
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

@import './scss/base/media';